@model IEnumerable<ASaE.Models.EquipmentConsumable>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Главная страница", "Index", "Home")</li>
        <li class="breadcrumb-item active" aria-current="page">Расходные материалы</li>
    </ol>
</nav>

<hr />

<div class="objects-controll">
    <div class="container-objects" id="container-objects">
        @Html.Partial("GetConsumables")
    </div>
    <!--ajax update-->
    @using (Ajax.BeginForm("GetConsumables", new AjaxOptions
    {
        UpdateTargetId = "container-objects",
        OnBegin = "OnBegin"
    }))
    {
        <div class="objects-filters accordion">
            <div class="card" id="filterName">
                <div class="card-header" id="headingName">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseName" aria-expanded="true" aria-controls="collapseName">
                            Название
                        </button>
                    </h5>
                </div>

                <div id="collapseName" class="collapse show" aria-labelledby="headingName" data-parent="#filterName">
                    <div class="card-body">
                        @Html.TextBox("name", null, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="card" id="filterStatus">
                <div class="card-header" id="headingStatus">
                    <h5 class="mb-0">
                        <button id="price" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseStatus" aria-expanded="false" aria-controls="collapseStatus">
                            Количество материала
                        </button>
                    </h5>
                </div>

                <div id="collapseStatus" class="collapse" aria-labelledby="headingStatus" data-parent="#filterStatus">
                    <div class="card-body">
                        @Html.DropDownList("consumableStatus", new List<SelectListItem> {
                                            new SelectListItem { Text = "", Value = "" },
                                            new SelectListItem { Text = "Достаточно", Value = "Ok" },
                                            new SelectListItem { Text = "На исходе", Value = "Alert" }
                               }, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <hr class="m-2" />

            <div class="objects-filter-search">
                <button class="btn btn-outline-dark m-2"> Поиск </button>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        function OnBegin() {
            $('consumables').html("");
        }
    </script>
}